In [11]:
import pandas as pd
import xlsxwriter as xls
print('Successfully')

Successfully

In [12]:
feedback_df = pd.read_csv('customer_feedback_scores.csv')
feedback_df.head()

,Date,Customer ID,Region,Product,Support Rating,Product Rating,Comments
0,1/5/2024,CUST001,North,Software A,4,5,Quick resolution
1,1/7/2024,CUST002,South,Software B,3,4,Some bugs found
2,1/9/2024,CUST003,East,Software C,5,5,Very satisfied
3,2/1/2024,CUST004,North,Software A,4,4,Support was helpful
4,2/10/2024,CUST005,South,Software B,2,3,Could be improved

# FINDING AVERAGE RATING OF THE SUPPORTING RATING AND PRODUCT RATING

In [13]:
avg_rating=feedback_df.groupby('Product')[['Support Rating','Product Rating']].mean().reset_index()
avg_rating.head()

      Product  Support Rating  Product Rating
0  Software A             4.0             4.6
1  Software B             3.0             3.6
2  Software C             4.8             4.6

 # CREATE A NEW EXCEL WORKBOOK AND ADD A BAR CHART

In [14]:
writer=pd.ExcelWriter('customer_feedback_score.xlsx',engine='xlsxwriter')

# committing file to excel

In [15]:
avg_rating.to_excel(writer,sheet_name='feedback_scores_with_bar_chart',index=False)

In [18]:
workbook=writer.book
worksheet=writer.sheets['feedback_scores_with_bar_chart']

chart= workbook.add_chart({'type':'column'})
chart.add_series({
    'name':'Supporting Rating',
    'categories':['feedback_score_with_bar_chart',1,0,len(avg_rating),0],
    
    'values':['feedback_scores_with_bar_chart',1,2,len(avg_rating),2],
})

chart.add_series({
    'name':'Producting Rating',
    'categories':['feedback_scores_with_bar_chart',1,0,len(avg_rating),0],
    'values':['feedback_scores_with_bar_chart',1,2,len(avg_rating),1],
})

chart.set_title({'name':'Average Customer Rating'})
chart.set_x_axis({ 'name':'Product'})
chart.set_y_axis({'name':'Average Rating'})

worksheet.insert_chart('E2',chart)
writer.close()

C:\Users\Valued Customer\AppData\Local\Programs\Python\Python313\Lib\site-packages\xlsxwriter\workbook.py:1511: UserWarning: Unknown worksheet reference 'feedback_score_with_bar_chart' in range 'feedback_score_with_bar_chart!$A$2:$A$4' passed to add_series()
  warn(